@import url('../../node_modules/materialize-css/dist/css/materialize.css');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../node_modules/materialize-css/dist/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../../node_modules/materialize-css/dist/fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('../../node_modules/materialize-css/dist/fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../../node_modules/materialize-css/dist/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding:0;
  height: 100%;
  overflow: hidden
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.main {
  background: white;
}

.load-graphic {
  margin:auto;
  text-align: center;
  padding-top: 35vh;
}

#main-window {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  padding: 0;
}

#stat-sidebar {
  position: fixed;
  right: 0;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  #stat-sidebar {
    display: none;
  }
}

#stat-sidebar td, #stat-sidebar th {
  padding: 8px 5px;
  text-align: right;
}

#stat-sidebar .text-cell {
  text-align: left;
}

#stat-sidebar h5 {
  margin-top: 10px;
}

#stat-sidebar a {
  color: black;
}

#stat-sidebar a:hover{
  color: blue;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .sidebar-toggle {
    display: none;
  }
}

.sidebar-toggle {
  position: fixed;
  top: 48%;
  z-index: 980;
}

.sidebar-toggle.right-arrow {
  right: 32.4%;
}

.sidebar-toggle.left-arrow {
  right: 16px;
}

.sidebar-toggle button {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  height: 24px;
}

.sidebar-toggle button.right-arrow {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.sidebar-toggle button.left-arrow {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.sidebar-toggle i {
  margin: -3px;
  line-height: 31px;
  vertical-align: top;
}


/* keep things out of the sidebar */
@media screen and (min-width: 1201px) {

  .xl8 .btn-floating-div {
      right: 37%;
  }
  .xl8 nav {
    width: 65.3%;
  }
}


nav {
  background-color: #f9a825;
  line-height: 58px;
}

nav .nav-wrapper {
  min-height: 50px !important;
}

@media screen and (min-width: 993px) {
  nav .nav-content .tabs {
    top: -1px;
  }
}

nav .nav-content .tabs {
  display: flex;
}

nav .nav-content .skinny-tabs {
  height: 28px;
}

nav .nav-content .tabs .tab{
  line-height: 28px;
}

nav .nav-content .tabs .tab .active{
  background-color: rgba(0, 0, 0, 0.1);
}

nav .btn-flat {
  color: white;
  margin-left: 10px;
  border: 2px solid #fbc02d;
  border-radius: 6px;
  line-height: 0;
}

.qb-search {
  padding-left: 5px;
}

#search:focus {
  border-bottom: none;
  box-shadow: 0 1px 0 0 white;
}

.container {
  width: 85%
}

.game-container {
  margin-left: 3%
}

.tight-input {
  height: 51px;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

#packetsCard {
    font-size: 14px;
  }

.players-per-team .input-field {
  width: 60px;
}

.settings-edit-disabled {
  cursor: not-allowed;
}

#settingsCard h6 {
  padding-top: 8px;
  padding-bottom: 4px;
}

.settings-phases {
  margin-top: 3rem;
  padding-left: 2rem;
}

.default-phase {
  vertical-align: bottom;
  font-size: 1.5rem;
}

.settings-phases a {
  color: black;
}

.settings-phases a:hover{
  color: blue;
  cursor: pointer;
}

.settings-divisions {
  top: 2rem;
  padding-left: 2rem;
}

.settings-tournsettings {
  margin-top: 3rem;
}

.settings-packets {
  margin-top: 0;
}

.packet-num {
  padding-top: 5pt;
  padding-bottom: 12pt;
}

.noPhase {
  color: red;
}

#rptConfig {
  width: 92%;
  margin-top: -6vh;
  max-height: 92%;
  min-height: 92%
}

#rptConfig .main-form {
  position: sticky;
}

#rptConfig .rptList {
  padding-left: 0;
  max-height: 325px;
  min-height: 325px;
  overflow-y: scroll;
}

#rptConfig .rptList i {
  font-size: 20px;
}

#rptConfig label input + span {
  padding-left: 30px;
}

#rptConfig [title]:not([title=""]) {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dotted;
}

#rptConfig #currentRptIsDefault {
  padding-top: 18pt;
}

#rptConfig .modal-footer .row {
  margin-bottom: 0;
}

#rptConfig .modal-footer .col:first-child {
  text-align: left;
}

.new-rpt-disabled:hover {
  cursor: not-allowed;
}

#addGame {
  width: 95%;
  margin-top: -9vh;
  max-height: 97%;
  min-height: 97%;
  overflow-y: hidden;
}

#addTeam {
  width: 80%;
  margin-top: -2vh;
  max-height: 80%;
  min-height: 80%;
  overflow-y: hidden;
}

#addTeam .row {
  margin-bottom: 5px;
}

#addTeam .row .col:first-child:not(.qb-validation-msg) {
  padding-left: 0;
}

#addTeam .player-d2-checkbox {
  margin-top: 0.5em;
}

#addTeam .team-level-checkbox {
  margin-top: 2em;
}

@media screen and (min-width: 993px) {
  #addTeam label input + span {
    padding-left: 30px;
  }
}

#addTeam h5 {
  margin-bottom: 1em;
}

.modal h4 {
  margin-top: 0.35em;
  margin-bottom: 1em;
}

#addGame h4 {
  padding-right: 10px;
  display: inline-block;
}

.modal h6 {
  margin-top: 1.85em;
}

#addGame .chip {
  margin-top: 19px;
}

#addGame .scroll-footer {
  overflow-y: scroll;
}

#addGame .modal-footer .row {
  margin-bottom: -1px;
}

.ot-stat-label {
  margin-top: 2em;
  text-align: right;
}

.game-entry-top-row {
  margin-bottom: 0px;
}

.game-entry-2nd-row {
  margin-bottom: 0px;
}

.invalid-select-wrapper input {
  border-bottom: 2px solid #F44336 !important;
}

.game-entry-bottom-row {
  margin-bottom: 0px;
}

.match-divider {
  padding: 2em 0 0 42%;
}

.player-table td {
  padding: 0px 5px; /* overrides 15px 5px */
}

@media screen and (min-width: 993px) {
  .player-table .player-name {
    min-width: 130px;
  }
}

@media screen and (min-width: 1201px) {
  .player-table .player-name {
    min-width: 160px;
  }
}

@media screen and (max-width: 992px) {
  .player-table .player-name {
    min-width: 100px;
  }
}

.forfeit-ctrl {
  margin-top: 1.7em
}

.team-listing {
  margin: 0;
}

.bounceback-entry {
  display: inline-block;
  width: 45px;
  margin: 0;
}

.game-comment {
  color: #989898;
}

.qb-validation-msg {
  text-align: left;
}

.qb-modal-error {
  vertical-align: bottom;
  font-size: 1.6rem;
}

.qb-modal-buttons {
  display: inline-block;
}

.zero-state-container {
  height: 85%;
}

.qb-zero-state {
  padding-top: 37vh;
  text-align: center;
}

.list-header {
  margin-top: 40px;
  margin-bottom: 20px;
}

.list-header .toggle-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.list-header .toggle-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.selected-counter {
  position: fixed;
  top: 110px;
  right: 20px;
  z-index: 990;
}

/* only move the counter when the screen is wide AND the sidebar is set to show */
@media screen and (min-width: 1201px) {
  .xl8 .selected-counter {
    right: 35%;
  }
}


.collection-item .item-delete {
  right: 0px;
  display: none;
  opacity: 0;
  transition: all 1s;
}

.collection-item:hover .item-delete {
  display: block;
  opacity: 1;
  margin-top: -4px;
}

.collection-item .disabled-item-delete {
  right: 0px;
  display: none;
  opacity: 0;
  transition: all 1s;
}

.collection-item:hover .disabled-item-delete {
  display: block;
  opacity: 1;
  margin-top: -4px;
}

.disabled-item-delete:hover {
  cursor: not-allowed;
}

.collection-item .item-edit {
  display: none;
  opacity: 0;
  transition: all 1s;
}

.collection-item:hover .item-edit {
  display: inline-block;
  opacity: 1;
  height: 25px;
  margin-top: -12px;
}

.collection-item .team-name {
  display: inline-block;
  font-weight: bold;
  color: #616161;
  font-size: 1.4em;
  padding-right: 5px;
}

.collection-item .team-name-inactive {
  display: inline-block;
  font-weight: bold;
  color: #bdbdbd;
  font-size: 1.4em;
  padding-right: 5px;
}

.collection-item .roster-display {
  color: #989898;
}

.collection-item .game-line-score {
  color: #989898;
}

.collection-item .chip-wrapper {
  display: inline-block;
}

.collection-item .chip {
  height: 21px;
  line-height: 20px;
  padding: 0 4px 0 7px;
  margin-bottom: 0;
}

.collection-item .chip .close {
  line-height: 22px;
}

.collection-item .game-name {
  display: inline-block;
  font-weight: bold;
  color: #616161;
  font-size: 1.3em;
}

.hotkey-underline {
  text-decoration: underline;
}

/*

.item-list .item-notes {
  font-style: italic;
} */


.search-tips {
  list-style-type: disc;
}

/* Override materialize and don't make toast location depend on screen size */
#toast-container {
    top: 4%;
    right: 7%;
    left: auto;
    max-width: 86%;
  }

.green-toast {
  background-color: #4caf50;
}

.row .pp20-control:hover {
  background-color: #ffd600;
}
