.env
/node_modules
/dist
/data/CustomRptConfig.json
/data/UserConfig.json
/app/fonts
/app/js/render.js
/app/css/app.css
/app/games.html
/app/individuals.html
/app/playerdetail.html
/app/rounds.html
/app/standings.html
/app/teamdetail.html
/app/statkey.html
dist
