/* Borrowed from hsquizbowl.org to give a consistent feel to
  the in-app report window */

/* General Page */

BODY {
    background-color: #ffffff;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    -webkit-print-color-adjust:exact; /* to show table shading when printed */
}

/* Added the td here */
td {
  font-size: 10pt;
}

A:link {
    color: #000080;
    text-decoration: underline;
}

A:active {
    color: #000080;
    text-decoration: none;
}

A:visited {
    color: #000080;
    text-decoration: underline;
}

A:hover {
    color: #000080;
    text-decoration: none;
}

A IMG {
    border: 0;
}

/* Global formatting classes */

.Centered {
    text-align: center;
}


/* don't show unnecessary formatting when printed */
@media print {
  a:link {
    color: #000000;
    text-decoration: none;
  }
  table:first-of-type {
    display: none;
  }
  .phaseLegend {
    display: none;
  }
  [title]:not([title=""]) {
   text-decoration: none !important;
  }
}
